.card{
    background: #252525;
    height: 100%;
    .close{
        color: #fff;

    }
    .card-title{
        color: #fff;
    }
    .btn{
        background: #363636;
        border: none;
    }

}
   